    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    
    background-image: linear-gradient(to right,#140d28d4,#342362d2, #b1a8f5,#e5ecf1a8,#eaeaeacd);
    transition: margin-left 500ms  cubic-bezier(0.075, 0.82, 0.165, 1);
}





header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
    padding: 40px;
}

.container__menu{
    max-width: 100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 130px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    
    list-style: none;
    margin-left: 36px;
}

h1{
    color: rgb(255, 255, 255);

}

p{
    color: rgb(255, 255, 255);
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

#selected{
    background: #a8a9f5;
    padding: 10px 40px;
    border-radius: 50px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}


/*COVER*/


.container__cover{
    width: 100%;
    height: 150px;
    background-image: url();
    background-position: right;
    background-repeat: no-repeat;
    padding: 40px;
}

.container__cover:first-of-type{
    height: 600px !important;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #b1a8f5, #4fa8f1);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #e6e6e6;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #301f4f;
}


.container__cover .svg img{
    width: 390px;
    animation: move-vector 4s linear infinite;
}

.cover1{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.cover1 .text h1,
.cover1 .text p {
    color:#000000
}
/* El contenedor cover2 ocupa toda la anchura disponible y se posiciona en el centro de la página */
.cover2 {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección de los elementos a columna para que el texto esté encima de las imágenes */
    align-items: center; /* Centramos los elementos horizontalmente */
    justify-content: center; /* Centramos los elementos verticalmente */
}

/* Estilo para el texto en cover2 */
.cover2 .text {
    text-align: center; /* Centramos el texto horizontalmente */
}

/* Estilos para las imágenes en cover2 */
.cover2 .svg2 {
    display: flex;
    justify-content: center; /* Centramos las imágenes horizontalmente */
}

/* Espacio entre las imágenes */
.cover2 .svg2 img {
    width: 200px; /* Ajustamos el ancho de las imágenes a 80px */
    height: 200px; /* Ajustamos el alto de las imágenes a 80px */
    margin: 50px; /* Reducimos un poco el espacio entre las imágenes */
}

/* Ajustes adicionales para el tamaño del texto */
.cover2 .text h1 {
    font-size: 28px; /* Reducimos un poco el tamaño del título */
    font-weight: bold;
    margin-top: 150px; /* Ajustamos el margen superior */
    margin-bottom: 10px;
    color: black; /* Cambiamos el color del título a negro */
}

.cover2 .text p {
    font-size: 20px;
    color: black; 
}
/* Estilos para la nueva sección - Más imágenes con información */
/* Estilos para la nueva sección - Más imágenes con información */
.container__more-images {
    background-color: #000000;
    padding: 40px 0;
    text-align: center;
}

.container__more-images h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.image-info {
    max-width: 0px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloimg {
    text-align: center;
    color: #000000;
}

.image-info__img {
    width: 20px; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    margin-bottom: 10px;
}

.image-info__text {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.ubicacion {
    display: flex; /* Cambiamos el modelo de cajas a Flexbox */
    max-width: 900px; /* Ajusta el ancho máximo del contenedor principal */
    margin: auto; /* Centra el contenedor principal horizontalmente */
    align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
}

.ubicacionInfo {

    text-align: left; /* Alinea el texto a la izquierda */
    padding-right: 80px; /* Espacio entre el texto y el mapa */
}

.mapa-contenedor {
    width: 100%; /* Ajusta el ancho del contenedor del mapa según tus necesidades */
    height: 150px; /* Ajusta la altura del contenedor del mapa según tus necesidades */
}





footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
    color: #666;
  }
  



/* Estilos para el footer */

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


/*Haciendo la página Responsive*/

@media screen and (max-width: 1700px){

    .container__cover{
        background-position: 50%;
    }

}

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

    .container__cover{
        background-position: -100px;
    }

    .container__cover .svg img{
        width: 500px;
    }

}

@media screen and (max-width: 1020px){

    .container__cover{
        background-color: #b1a8f5;
    }

    .container__cover .svg img{
        display: none;
    }

    .container__cover .text{
        max-width: 600px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #8acbff;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}

